
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;

}

nav ul li {
    float : left;


}

nav ul li a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;

}

nav ul li a:hover {
    background-color: #ddd;
    text-decoration: underline;
}

nav ul li a.active {
    color: white;
    background-color: #4CAF50;

}